<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
</head>
<header>
    <nav>

        {% if user.is_authenticated %}
            <p>
                Bonjour {{ user.username }} -
                <a href="{% url 'authentication:logout' %}">Se déconnecter</a>
            </p>
            <p>
                <a href="{% url 'authentication:follows' %}">Mes abonnements</a>
                <a href="{% url 'feed:my-flow' %}">Mon flux</a>
            </p>
        {% endif %}

    </nav>
</header>
<body>

    {% block content %}
    {% endblock content %}

</body>
</html>