{% extends "base.html" %}

{% block content %}

    <h1 class="text-center">Mon flux</h1>

    <div>
        <div class="row">
            <div class="col-6 text-center">
                <a class="btn btn-outline-dark"
                   href="{% url 'feed:ticket-create' %}">Demander
                une critique</a>
            </div>
            <div class="col-6 text-center">
                <a class="btn btn-outline-dark" href="{% url
                'feed:review-direct-create' %}">Créer directement une critique</a>
            </div>
        </div>
    </div>



    <div class="my-5">

        {% for post in posts %}

            <div class="border border-dark m-3">
                {% if post.content_type == 'TICKET' %}

                    {% include 'feed/ticket_detail.html' with ticket=post %}

                    {% include 'feed/review_check.html' with post=post %}

                {% elif post.content_type == 'REVIEW' %}

                    {% include 'feed/review_detail.html' with review=post %}

                {% endif %}

            </div>

        {% endfor %}

    </div>

{% endblock content %}