{% extends "base.html" %}

{% block content %}

    <h1 class="text-center">Mon flux</h1>

    <div>
        <div class="row">
            <div class="col-6 text-center">
                <a class="btn btn-outline-dark"
                   href="{% url 'feed:ticket-create' %}">Demander une critique</a>
            </div>
            <div class="col-6 text-center">
                <a class="btn btn-outline-dark" href="{% url 'feed:review-direct-create' %}">Créer directement une critique</a>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column my-5">

        {% for post in posts %}

                {% if post.content_type == 'TICKET' %}

                    <div
                            class="align-self-end border border-dark mt-2 p-2 w-75">

                        {% include 'feed/ticket_detail.html' with ticket=post %}

                        <div class="text-end">

                            {% include 'feed/review_check.html' with post=post %}

                        </div>

                    </div>

                {% elif post.content_type == 'REVIEW' %}

                    <div class="border border-dark mt-2 p-2 w-75">

                        {% include 'feed/review_detail.html' with review=post %}

                    </div>

                {% endif %}

        {% endfor %}

    </div>

{% endblock content %}