{% extends "base.html" %}

{% block content %}

    <h1>Mes publications</h1>

        <div>
        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}

                {% include 'feed/ticket_detail.html' with ticket=post %}

                <a href="{% url 'feed:ticket-update' ticket_id=post.id %}">
                    Modifier</a>
                <a href="{% url 'feed:ticket-delete' ticket_id=post.id %}">
                    Supprimer</a>
            
            {% elif post.content_type == 'REVIEW' %}

                {% include 'feed/review_detail.html' with review=post %}
            
                <a href="{% url 'feed:review-update' review_id=post.id %}">
                    Modifier</a>
                <a href="{% url 'feed:review-delete' review_id=post.id %}">
                    Supprimer</a>

            {% endif %}

        {% endfor %}
    </div>

    <div>

</div>


{% endblock content %}