{% extends "base.html" %}

{% block content %}

    <h1 class="text-center">Mes publications</h1>

        <div class="d-flex flex-column">

        {% for post in posts %}

            {% if post.content_type == 'TICKET' %}

                <div class="align-self-start border border-dark mt-2 p-2 w-75">

                    {% include 'feed/ticket_detail.html' with ticket=post %}

                    <div class="text-end">

                        {% include 'feed/review_check.html' with post=post %}

                        <a class="btn btn-outline-dark" href="{% url 'feed:ticket-update' ticket_id=post.id %}">Modifier</a>
                        <a class="btn btn-outline-dark" href="{% url 'feed:ticket-delete' ticket_id=post.id %}">Supprimer</a>

                    </div>

                </div>
            
            {% elif post.content_type == 'REVIEW' %}

                <div class="align-self-end border border-dark mt-2 p-2 w-75">

                    {% include 'feed/review_detail.html' with review=post %}

                    <div class="text-end">

                        <a class="btn btn-outline-dark" href="{% url 'feed:review-update' review_id=post.id %}">
                            Modifier</a>
                        <a class="btn btn-outline-dark" href="{% url 'feed:review-delete' review_id=post.id %}">
                            Supprimer</a>

                    </div>

                </div>

            {% endif %}

        {% endfor %}

    </div>

    <div>

</div>


{% endblock content %}