<!-- Form to delete a review -->

{% extends "base.html" %}

{% block content %}

    <h1 class="text-center">Supprimer la critique</h1>

    <p>Êtes-vous certain de vouloir supprimer la critique suivante ? </p>
    <p class="text-center">
        {{ review.title }} publié le {{ review.time_created }}
    </p>

    <form action="" method="post">
        {% csrf_token %}
        <div class="text-center">
            <input type="submit" value="Supprimer" class="btn btn-outline-dark">
        </div>

    </form>


{% endblock content %}