{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <h1 class="text-center">Modifier votre critique </h1>

    <p>Vous êtes en train de publier une réponse à :</p>

    <div class="align-self-end border border-dark mt-2 p-2">

       {% include 'feed/ticket_detail.html' with ticket=ticket %}

    </div>

    <form action="" method="post">

        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
            <input type="submit" value="Envoyer" class="btn btn-outline-dark">
        </div>

    </form>

{% endblock content %}