{% load feed_extras %}

<div class="p-3">

    <div class="row">

        <div class="col text-start">
            <p>{% get_user_display user=ticket.user %} demandé une critique</p>
        </div>
        <div class="col text-end">
            <p>{{ ticket.time_created }}</p>
        </div>

    </div>

    <h3 class="text-center">{{ ticket.title }}</h3>

    <div class="row">

        <div class="col-1 d-flex align-items-center">
            {% if ticket.image %}
            <img src="{{ ticket.image.url }}">
        {% endif %}
        </div>
        <div class="col-11 ps-5 d-flex align-items-center">
             {{ ticket.description }}
        </div>

    </div>

</div>


