<!-- In this page, the user can register a member to follow and display the
list of members he follows and th elist of his followers -->

{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <h1 class="text-center">Suivre d'autres membres</h1>

    <form method="post">

        {{ add_followed_form|crispy }}
        {% csrf_token %}
        <p class="bg-dark text-white text-center">{{ message }}</p>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-dark">S'abonner</button>
        </div>

    </form>

    <div class="row">

        <div class="col-6">

            <h2 class="mt-5">Abonnements</h2>

            <table class="table table-striped">
                {% for member in followed %}
                    <tr>
                        <td>
                            {{ member }}
                        </td>
                        <td>
                            <a class="btn btn-outline-dark" href="{% url 'authentication:remove_followed' followed_id=member.id %}">Se désabonner</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>

        <div class="col-6">

            <h2 class="mt-5">Abonnés</h2>

            <table class="table table-striped">
                {% for member in followers %}
                    <tr>
                        <td>{{ member.user }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>

    </div>

{% endblock content %}