{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <p class="text-info">{{ message }}</p>

    <h1 class="text-center">Suivre d'autres membres</h1>

    <form method="post">
        {{ add_followed_form|crispy }}
        {% csrf_token %}
        <div class="text-center">
            <button type="submit" class="btn btn-outline-dark">S'abonner</button>
        </div>

    </form>

    <h2>Abonnements</h2>

    <table>
        {% for member in followed %}
            <tr>
                <td>
                    {{ member }}
                </td>
                <td>
                    <a class="btn btn-outline-dark" href="{% url 'authentication:remove_followed' followed_id=member.id %}">Se désabonner</a>
                </td>
            </tr>
        {% endfor %}
    </table>


    <h2>Abonnés</h2>

    <table>
        {% for member in followers %}
            <tr>
                <td>{{ member.user }}</td>
            </tr>
        {% endfor %}
</table>


{% endblock content %}