{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row d-flex align-items-center">
        <div class="col-6 text-center">
            <h2>Pas encore membre ?</h2>
            <p>
                <a class="btn btn-outline-dark mt-3"
                   href="{% url 'authentication:signup' %}">S'inscrire !</a>
            </p>
        </div>
        <div class="col-6 text-center">
            <h2>Connectez-vous</h2>

            <form method="post">
                <p>{{ message }}</p>

                {{ form|crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark">Se connecter</button>
            </form>
        </div>

    </div>




{% endblock content %}