{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <h2 class="text-center">Inscription</h2>

    {% if form.errors %}
        {{ form.errors }}
    {% endif %}

    <form method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <div class="text-center">
             <button type="submit" class="btn btn-outline-dark">S'inscrire</button>
        </div>

    </form>

    <p>Déjà inscrit ?
        <a class="btn btn-outline-dark" href="{% url 'authentication:login' %}">Se connecter</a></p>

{% endblock content %}